.jumbotron img{
	width: 200px;
	border: 5px solid #666;
} 

hr{
	width: 200px;
	border-top: 4px solid #999;
} 

section{
	min-height: 600px;
}

.portpolio{
	background-color: #eee;
}

.contact{
	min-height: 800px;
}

footer{
	
	bottom: 0;
	height: 100px;
	width: 100%;
	background-color: #333;
	padding-top: 45px;

}

footer p{
	color: #aaa;
	font-size: 0.9em;

}